# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
.env
*.env.*

# macOS
.DS_Store

# Logs
*.log

# Environment Variables
.env

# Build directories
client/build/
server/build/
